# =============== #
# Unity .gitignore
# =============== #

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Ignore crash reports
CrashReports/

# IDE files
.vs/
.idea/
*.sln
*.csproj
*.suo
*.tmp
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Keep meta files
!Assets/**/*.meta

# Scenes and assets included
!Assets/**/*.unity
